<h1>Listing projects</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.priority %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>

<br /><br />

<% result = @rillow.get_demographics(city: "Las Vegas", state: "Nevada").to_hash %>

<% getDemographics = fetch_result('http://www.zillow.com/webservice/GetDemographics.htm?zws-id=X1-ZWz1bgh3iq3si3_af1tq&state=Nevada&city=Las+Vegas') %>
<% getDemographics_j = JSON.pretty_generate(JSON.parse(getDemographics)) %>



<hr>

<% getSearchResult = fetch_result('http://www.zillow.com/webservice/GetDemographics.htm?zws-id=X1-ZWz1bgh3iq3si3_af1tq&regionid=268385') %>
<% getSearchResult_j = JSON.pretty_generate(JSON.parse(getSearchResult)) %>

<% File.open("public/Laguna.json",'w') do |f| f.write(getSearchResult_j) end %>


<b><%= result.find_attribute("Median Household Income") %></b><br /><br />

<b>Home_Price: <%= JSON(getDemographics_j).try(:[],"response").try(:[],0).try(:[],"pages").try(:[],0).try(:[],"page").try(:[],0).try(:[],"tables").try(:[],0).try(:[],"table").try(:[],0).try(:[],"data").try(:[],0).try(:[],"attribute").try(:[],0).try(:[],"values").try(:[],0).try(:[],"city").try(:[],0).try(:[],"value").try(:[],0).try(:[],"content") %></b>



<xmp>
  <p>Some code</p>
  <br />

  Great scott!
</xmp>

<br /><br />

<div id='mobile-app-disribution'>
  <span>A link will be sent via text message.</span>
  <input id='recipient-mobile-number' type='text' placeholder='Your mobile number'>
  <button id='send-sms-to-phone' type='submit'>Send to my phone</button>
</div>

<script language='javascript' type='text/javascript'>
  document.getElementById('send-sms-to-phone').onclick = function() {
    var recipient = document.getElementById('recipient-mobile-number').value;
    var http = new XMLHttpRequest();
    var data = 'recipient=' + recipient + '&campaign_id=1'
    var url = 'http://glacial-atoll-7274.herokuapp.com/send_sms/';
    http.open('POST', url, true);
    http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    http.send(data);
    alert('A text containing a link was just sent to ' + recipient);
  };
</script>

