<div id="main">
<h1>Income Freedom</h1>

<div class="about">
  This app compares the median income versus the median home price and calculates a score based on this information.  A higher score means that you will have more income freedom.  The US median is 100.  Information is not available for all cities.  <br /><br />
</div>

<h2>Search City</h2>

<%= form_for @search do |f| %>
<p>
  <%= f.text_field :address, placeholder: "City, State" %>
</p>
<p>
  <%= f.submit "Search!" %>
</p>
<% end %>

<br />

<h2>Recent Searches</h2>

<table align="center">
  <tr>
    <td align="left"><b>City</b></td>
    <td><b>Score</b></td>
  </tr>
  <% @searches.each do |s| %>
    <tr>
      <td align="left"><%= link_to s.address, s %></td>
      <td><% if s.score.present? %>
            <%= s.score %>
          <% else %>
            <font color="#aaaaaa">N/A</font>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>

<br /><br />
Created by Yu Jiang Tham
</div>