<main>
<div id="main_top">
  <div id="logo_area">
    <%= render 'logo' %>
    <span class="maintitle">inkomme.</span>
    <span class="subtitle">The Income Freedom Calculator</span>
  </div>
</div>

<div id="main_search_area">
  <%= form_for @search do |f| %>
    <%= f.text_field :input, placeholder: "Enter Address" %><%= f.submit "Search!" %>
  <% end %>
  <br />
  <span class="floating_text">Information is not available for all neighborhoods. 
  The US median is 100.</span>
</div>

<div id="main_bottom">
  <div class="about">
    When you input an address, city, or zip code, we compare the median income versus the median home price in that house's neighborhood and calculates a score based on this information.  A higher score means that you will have more income freedom.  
  </div><br /><br />

  <h2>Recent Searches</h2>

  <%= render 'recent_table' %>

  <br /><br />
  Created by Yu Jiang Tham<br />
  <span class="howtoblock">Powered by Zillow: 
  Demographic data &copy; Zillow, Inc., 2006-2013. Use is subject to <a href="/corp/Terms.htm">Terms of Use</a>.  <a href="/wikipages/What-is-a-Zestimate/">What's a Zestimate?</a></span>
</div>
</main>