<% content_for :searches do %>
  <%= render 'google_map_script' %>
<% end %>

<div id="logo_float">
  <%= render 'logo' %>
  <span class="maintitle">inkomme.</span>
</div>

<div id="overlay_top">
  <span class="title"><%= @search.address %></span>

  <div id="freedom_score">
    <span class="highlight">Income Freedom Score: 
      <% if @search.score == 0 || @search.score == nil %>
        N/A
      <% else %>
        <%= @search.score %>
      <% end %>
    </span>
  </div>

<div class="search_float">
  <%= form_for @new_search do |f| %>
    <%= f.text_field :input, placeholder: "Address, City, State", class: "search_float_input" %>
    <%= f.submit "Search!", class: "search_float_input" %>
  <% end %>
</div>

</div>

<div id="google_map">
  Map
</div>

<div id="overlay_bottom">
  Median Income: 
    <% if @search.median_income.present? %>
      <b>$<%= number_with_delimiter(@search.median_income, delimiter: ',') %></b> 
    <% else %>
      <span class="not_available">N/A</span>
    <% end %>
      |
  Median Home Price: 
    <% if @search.median_home_price.present? %>
      <b>$<%= number_with_delimiter(@search.median_home_price, delimiter: ',') %></b> 
    <% else %>
      <span class="not_available">N/A</span>
    <% end %>
  <br /><br />
  <%= link_to 'Back to Main', root_url %>
</div>

<div id="copyright_float">
  <span class="howtoblock">Powered by Zillow: 
  &copy; Zillow, Inc., 2006-2013. Use is subject to <a href="/corp/Terms.htm">Terms of Use</a>.  <a href="/wikipages/What-is-a-Zestimate/">What's a Zestimate?</a></span>
</div>