<% content_for :searches do %>
  <%= render 'google_map_script' %>
<% end %>

<div id="overlay_top">
  <span class="title"><%= @search.address %></span>

  <div id="freedom_score">
    <span class="highlight">Income Freedom Score: 
      <% if @search.score == 0 %>
        N/A
      <% else %>
        <%= @search.score %>
      <% end %>
    </span>
  </div>

<div class="search_float">
  <%= form_for @new_search do |f| %>
    <%= f.text_field :input, placeholder: "Address, City, State", class: "search_float_input" %>
    <%= f.submit "Search!", class: "search_float_input" %>
  <% end %>
</div>

</div>

<div id="google_map">
  Map
</div>

<div id="overlay_bottom">
  Median Income: 
    <% if @search.median_income.present? %>
      <b>$<%= @search.median_income %></b> 
    <% else %>
      <span class="not_available">N/A</span>
    <% end %>
      |
  Median Home Price: 
    <% if @search.median_home_price.present? %>
      <b>$<%= @search.median_home_price %></b> 
    <% else %>
      <span class="not_available">N/A</span>
    <% end %>
  <br /><br />
  <%= link_to 'Back to Searches', searches_path %>
</div>