<% content_for :searches do %>
  <%= render 'google_map_script' %>
<% end %>

<div id="overlay_top">
  <span class="title"><%= @search.city %>, <%= @search.state %></span>
<p>
  <span class="highlight">Income Freedom Score: <%= @search.score %></span>
</p>
</div>

<div id="google_map">
  Map
</div>

<div id="overlay_bottom">
  Median Income: <b>$<%= @search.median_income %></b> |
  Median Home Price: <b>$<%= @search.median_home_price %></b><br /><br />
  <%= link_to 'Back to Searches', searches_path %>
</div>