<!DOCTYPE html>
<html>
<head>
  <title>inkomme. The Income Freedom Calculator.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
  <%= csrf_meta_tags %>
  <%= yield :searches %>
</head>
<body>

<%= yield %>

</body>
</html>
